@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hanuman: "Hanuman", serif;
  --DM: "DM Serif Text", serif;
  --background: "#f257aa";
  --click: "#f0183c";
  --text: "#f24663";
}
.hanuman {
  font-family: var(--hanuman);
}
.DM {
  font-family: var(--DM);
}
.backs {
  background-color: var(--background);
}
.clicks:hover {
  /* background-color: var(--click); */
  background-color: #f04662;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transform: scale(1.05);
  /* color: var(--text); */
  color: rgb(250, 242, 11) !important;
  font-size: large;
  font-weight: bold;
}
